#about {
    margin-bottom: 30px;
    .wrapper {
        flex-direction: column;
        .text {
            flex-direction: column;
            .title {
                flex-direction: column;
                position: relative;
                h2 {
                    font-size: 32px;
                    font-weight: 600;
                    color: var(--dark-blue);
                    margin: 0;
                    margin-bottom: 20px;
                }
                hr {
                    width: 50px;
                    height: 5px;
                    position: absolute;
                    background-color: var(--complement);
                    left: 0;
                    bottom: 0;
                    margin: 0;
                    padding: 0;
                    border: 0;
                }
            }
            .intro {
                color: var(--dark-blue);
                font-size: 20px;
                font-weight: 400;
            }
        }
        .hero {
            margin: 0 30px;
        }
        #prime-hero {
            margin-top: 50px;
        }
        #second-hero {
            margin-top: 30px;
        }
        #third-hero {
            margin-top: 30px;
            .text {
                .intro.image {
                    flex-direction: column;
                    width: 100%;
                    justify-content: center;
                    align-items: center;
                    img {
                        margin: 30px 0;
                        max-width: 500px;
                        width: 100%;
                    }
                }
            }
        }
        .button {
            width: 100%;
            padding: 0 30px;
            margin-top: 20px;
            justify-content: center;
            a {
                text-decoration: none;
                > button {
                    background: none;
                    background-color: #f73b4b;
                    border: 0;
                    width: 150px;
                    height: 40px;
                    align-items: center;
                    justify-content: center;
                    color: var(--white);
                    font-weight: 500;
                    font-size: 16px;
                    border-radius: 2px;
                    cursor: pointer;
                    outline: none;
                }
                > button:hover {
                    background-color: #c73a46;
                }
                > button:active {
                    background-color: #fc1024;
                }
            }
            
        }
    }
}

@media (min-width: 850px) {
    #about {
        .wrapper {
            .hero {
                margin: 0 100px;
            }
            .third-hero {
                .text {
                    .intro.image {
                        flex-direction: row;
                        display: block; 
                        img {
                            float: right;
                            margin-left: 50px;
                            margin-bottom: 20px;
                            width: 500px;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1441px) {
    #about {
        .wrapper {
            margin: 0 auto;
            max-width: 1200px;
            .hero {
                margin: 0;
            }
        }
    }
}