#contact {
    > .wrapper {
        flex-direction: column;
        margin: 0 30px;
        width: 100%;
        .wrap-text-form {
            flex-direction: column;
            .text {
                flex-direction: column;
                margin-bottom: 20px;
                max-width: 500px;
                .title {
                    flex-direction: column;
                    position: relative;
                    h2 {
                        font-size: 36px;
                        font-weight: 600;
                        color: var(--dark-blue);
                        margin-bottom: 15px;
                    }
                    hr {
                        width: 50px;
                        height: 5px;
                        position: absolute;
                        background-color: var(--complement);
                        left: 0;
                        bottom: 0;
                        margin: 0;
                        padding: 0;
                        border: 0;
                    }
                }
                .intro {
                    color: var(--dark-blue);
                    font-size: 20px;
                    font-weight: 400;
                }
            }
            > form {
                flex-direction: column;
                width: 100%;
                .field {
                    position: relative;
                    width: 100%;
                    > input {
                        margin-bottom: 10px;
                        height: 60px;
                        width: 100%;
                        max-width: 500px;
                        padding: 15px 0 3px 10px;
                        outline: none;
                        border-radius: 4px;
                        align-items: flex-end;
                        transition: all .2s ease-out;
                        border: 1px solid var(--primary);
                    }
                    > input:hover {
                        border: 1px solid var(--text-hover);
                    }
                    >input:focus {
                        border: 1px solid var(--complement);
                        + label {
                            color: var(--complement);
                        }
                    }
                    > label {
                        position: absolute;
                        top: 5px;
                        left: 10px;
                        font-size: 13px;
                        color: var(--black);
                    }
                    > textarea {
                        width: 100%;
                        max-width: 500px;
                        margin-bottom: 20px;
                        padding: 25px 0 3px 10px;
                        outline: none;
                        border-radius: 4px;
                    }
                    > textarea:hover {
                        border: 1px solid var(--text-hover);
                    }
                    >textarea:focus {
                        border: 1px solid var(--complement);
                        + label {
                            color: var(--complement);
                        }
                    }
                }
                > button {
                    background: none;
                    background-color: #f73b4b;
                    border: 0;
                    width: 150px;
                    height: 40px;
                    align-items: center;
                    justify-content: center;
                    color: var(--white);
                    font-weight: 500;
                    font-size: 16px;
                    border-radius: 2px;
                    cursor: pointer;
                    outline: none;
                }
                > button:hover {
                    background-color: #c73a46;
                }
                > button:active {
                    background-color: #fc1024;
                }
            }
        }
        .wrap-img {
            display: none;
        }
    }
}

@media (min-width: 850px) {
    #contact {
        > .wrapper {
            margin: 0 100px;
        }
    }
}

@media (min-width: 996px) {
    #contact {
        > .wrapper {
            flex-direction: row;
            .wrap-text-form {
                width: 45%;
            }
            .wrap-img {
                display: block;
                width: 45%;
                margin-left: 50px;
                padding: 100px 0 60px 0px;
                height: 100%;
                align-items: center;
                justify-content: center;
                object-fit: cover;
                img {
                    object-fit: cover;
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }
}

@media (min-width: 1441px) {
    #contact {
        > .wrapper {
            margin: 0 auto;
            max-width: 1200px;
        }
    }
}