.header {
    width: 100%;
    height: 100px;
    position: relative;
    background-color: var(--secondary);
    z-index: 5;
    > div {
        width: 100%;
        position: relative;
        .menu {
            position: fixed;
            height: 100vh;
            width: 100vw;
            right: -100vw;
            background-color: var(--primary);
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            outline: none;
            transition: all .3s cubic-bezier(0.52, 0.16, 0.24, 1);
            z-index: 5;
            .close-menu {
                position: absolute;
                top: 32px;
                right: 36px;
                height: 28px;
                width: 28px;
                cursor: pointer;
                svg {
                    width: 100%;
                    fill: var(--soft-black);
                }
            }
            .menu-wrap {
                width: 210px;
                height: 200px;
                padding: 0;
                margin: 0;
                margin-top: 80px;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                > div {
                    a {
                        text-decoration: none;
                        color: var(--black);
                        font-size: 24px;
                        font-weight: 300;
                        text-transform: uppercase;
                        &:hover {
                            color: var(--other);
                        }
                    }
                }
            }
            .login {
                display: none;
            }
            .login-button {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 200px;
                height: 50px;
                border: 0;
                background: none;
                background-color: var(--secondary);
                border-radius: 3px;
                margin-bottom: 2rem;
                a {
                    font-size: 1.5rem;
                    text-decoration: none;
                    color: #ffffff;
                }
            }
        }
        .open-menu {
            position: absolute;
            top: 25px;
            right: 25px;
            width: 45px;
            height: 45px;
            cursor: pointer;
            svg {
                width: 40px;
                fill: var(--primary);
            }
        }
        .logo {
            position: absolute;
            top: 25px;
            left: 20px;
            a {
                flex-direction: row;
                text-decoration: none;
                img {
                    width: 50px;
                    margin-right: 10px;
                }
                .logo-text {
                    flex-direction: column;
                    justify-content: center;
                    span {
                        font-size: 24px;
                        line-height: 24px;
                        letter-spacing: 1px;
                        font-weight: 400;
                        text-transform: uppercase;
                        color: var(--white);
                    }
                }
            }
        }
    }
}

#header-home {
    position: absolute;
    z-index: 5;
    background-color: initial;
}

.menu-open {
    > div {
        .menu {
            right: 0;
        }
    }
}

.logged {
    > div {
        .menu {
            .login {
                display: block;
                width: 100%;
                margin-bottom: 2rem;
                .container {
                    margin: 0 auto;
                    width: fit-content;
                    > img {
                        width: 60px;
                        height: 60px;
                        border-radius: 999px;
                        margin-right: 1rem;
                        border: 2px solid #000000;
                    }
                    .text {
                        height: 100%;
                       justify-content: center;
                        .name {
                            a {
                                text-decoration: none;
                                color: #ffffff;
                                font-weight: 500;
                            }
                        }
                        .actions {
                            text-decoration: underline;
                        }
                    }
                }
            }
            .login-button {
                display: none;
            }
        }
    }
}

.skip-link {
    position: absolute;
    top: -100px;
    left: 0;
    background: #000000;
    color: white;
    padding: 8px;
    z-index: 100;
}
  
.skip-link:focus {
top: 0;
}

@media (max-width: 320px) {
    .header {
        > div {
            .logo {
                a {
                    .logo-text {
                        span {
                            display: none;
                        }
                    }
                }
            }
            .menu {
                .close-menu {
                    top: 20px;
                    right: 20px;
                }
            }
            .open-menu {
                top: 25px;
                right: 15px;
            }
        }
    }
}


@media (min-width: 1100px) {
    .header {
        > div {
            margin: 0 50px;
            .menu {
                position: relative;
                height: 100%;
                width: 100%;
                right: initial;
                background-color: initial;
                margin-right: var(--space-mobile);
                align-items: center;
                justify-content: space-between;
                flex-direction: row;
                .close-menu {
                    display: none;
                }
                .menu-wrap {
                    width: 360px;
                    height: initial;
                    padding: 0;
                    margin: 0;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    > div{
                        a {
                            text-decoration: none;
                            color: var(--white);
                            font-size: 18px;
                        }
                    }
                }
                .login-button {
                    margin-bottom: 0;
                    margin-right: 1rem;
                }
            }
            .open-menu {
                display: none;
            }
            .logo {
                width: 350px;
                position: relative;
                left: 0;
                top: 0;
                a {
                    img {
                        width: 50px;
                    }
                    .logo-text {
                        span {
                            font-size: 24px;
                            line-height: 24px;
                        }
                    }
                }
            }
        }
        &.logged {
            > div {
                .menu {
                    width: 100%;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    .login {
                        width: fit-content;
                        margin-bottom: 0;
                    }
                }
                .logo {
                    width: 100px;
                    .logo-text {
                        display: none;
                    }
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    .header {
        > div {
            .menu {
                .menu-wrap {
                    >div {
                        a {
                            font-size: 20px;
                        }
                    }
                }
            }
            .logo {
                a {
                    left: 50px;
                }
            }
        }
    }
}

@media (min-width: 1441px) {
    .header {
        > div {
            margin: 0 auto;
            width: 1200px;
            align-items: center;
            .logo {
                a {
                    position: initial;
                }
            }
        }
    }
    #header-home {
        > div {
            .logo {
                a {
                    top: 0;
                }
            }
        }
    }
}