:root {
    --primary: #EDEEEA;
    --secondary: #457B9D;
    --complement: #E63946;
    --dark-blue: #1D3557;
    --other: #A8DADC;

    --black: #000000;
    --white: #FFFFFF;
    --soft-black: #222222;

    --text-hover: #aaaaaa; 
}